---
# Alertmanager handlers

- name: Daemon reload
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart alertmanager
  ansible.builtin.systemd:
    name: alertmanager
    state: restarted
