---
# Prometheus installation and configuration tasks

- name: Create prometheus group
  ansible.builtin.group:
    name: "{{ prometheus_group }}"
    system: true
    state: present

- name: Create prometheus user
  ansible.builtin.user:
    name: "{{ prometheus_user }}"
    group: "{{ prometheus_group }}"
    system: true
    shell: /usr/sbin/nologin
    createhome: false

- name: Create prometheus directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_group }}"
    mode: '0755'
  loop:
    - "{{ prometheus_install_dir }}"
    - "{{ prometheus_config_dir }}"
    - "{{ prometheus_config_dir }}/rules"
    - "{{ prometheus_data_dir }}"

- name: Download Prometheus
  ansible.builtin.get_url:
    url: "https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz"
    dest: "/tmp/prometheus-{{ prometheus_version }}.tar.gz"
    mode: '0644'
  register: prometheus_download

- name: Extract Prometheus
  ansible.builtin.unarchive:
    src: "/tmp/prometheus-{{ prometheus_version }}.tar.gz"
    dest: "{{ prometheus_install_dir }}"
    remote_src: true
    extra_opts: [--strip-components=1]
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_group }}"
  when: prometheus_download.changed
  notify: Restart prometheus

- name: Copy Prometheus configuration
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: "{{ prometheus_config_dir }}/prometheus.yml"
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_group }}"
    mode: '0644'
  notify: Reload prometheus

- name: Copy alert rules
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/../../monitoring/prometheus/rules/"
    dest: "{{ prometheus_config_dir }}/rules/"
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_group }}"
    mode: '0644'
  notify: Reload prometheus

- name: Create Prometheus systemd service
  ansible.builtin.template:
    src: prometheus.service.j2
    dest: /etc/systemd/system/prometheus.service
    mode: '0644'
  notify:
    - Daemon reload
    - Restart prometheus

- name: Enable and start Prometheus
  ansible.builtin.systemd:
    name: prometheus
    enabled: true
    state: started

- name: Wait for Prometheus to be ready
  ansible.builtin.uri:
    url: "http://localhost:9091/-/ready"
    status_code: 200
  register: result
  until: result.status == 200
  retries: 30
  delay: 2
